
@{
    ViewBag.Title = "GetStarted";
}

<h2>Get started</h2>
<br />
<div>
    <h4>Categories</h4>
    <hr />
    <p style="width: 60%">
        In this application it is possible to create all kinds of Categories for the library items. 
        All created Categories can be edited and deleted from the Category navigation found at the top of the application. 
        To create a library item at least one category has to be created first.
    </p>
    <br />
    <h4>Library items</h4>
    <hr />
    <p style="width: 60%">
        From the LibraryItem navigation link found at the top of the page it is possible to View, Create, Delete,
        Edit, Check-In and Check-Out all library items.
        There are four different types of library items
        that can be created (Book, Audio Book, Reference Book and DVD). All types except for "Reference book"
        are possible to check out.
    </p>
    <p style="width: 60%">
        Library items should be checked-out when customers borrow them and
        checked-in when they return them. To check out an item go to the edit link of a listed library item
        in the libraryItem view. In the libraryItem page all the library items are listed and sorted by Category name by default
        but they can be sorted by Type if the user presses the Type Heading of the table.

    </p>
    <br />
    <h4>Employees</h4>
    <hr />
    <p style="width: 60%">
        From the Employee navigation link found at the top of the page it is possible to View, Create, Delete and Edit all the Employees.
        </p>
        <h4>In the future ;) </h4>
        <p style="width: 60%">
            It will be possible to list all employees grouped by role e.g. employees, managers and
            CEO. The application will also calculate what salary the employee should have based on a rank
            multiplied with a constant coefficient.
            An employee can be a “regular” employee or manager. There can also be a CEO, but only
            one at a time.

        </p>
</div>


