@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">In this application it is possible create and handle all the library items, categories and employees for this library.
    Press "Get Started" to learn more about the application and its functionalities.</p>
    <p><a href="Home/GetStarted" class="btn btn-primary btn-lg">Get Started&raquo;</a></p>
</div>
    