
@{
    ViewBag.Title = "NotBorrowed";
}

<h2>Check In</h2>

<div>
    <h4>Not Borrowed</h4>
    <hr />
    <p> This LibraryItem is not borrowed and will not be checked in. The database have not been changed by this action.</p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
