@{
    ViewBag.Title = "NotBorrowable";
}

<h2>Check Out</h2>

<div>
    <h4>Not Borrowable</h4>
    <hr />
    <p> This LibraryItem is not borrowable and can not be checked out.</p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
